@using EmployeeProject_2.Models
@model Employee
@{
    ViewBag.Title = "DisplayEmployeeDetails";
}

<h2>Display Employee Details</h2>
<form>
    <table>
       <tr>
           <th>Employee Id</th>
           <td>@Model.EmployeeId</td>
       </tr>
        <tr>
            <th>Employee Name</th>
            <td>@Model.EmployeeName</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th>Salary</th>
            <td>@Model.Salary</td>
        </tr>

    </table>
</form>

